USE [master]
GO
/****** Object:  Database [GestorTareas]    Script Date: 3/31/2026 1:20:37 PM ******/
CREATE DATABASE [GestorTareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestorTareas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestorTareas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestorTareas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestorTareas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestorTareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestorTareas]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 3/31/2026 1:20:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[IdTarea] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaLimite] [datetime] NOT NULL,
	[Prioridad] [varchar](10) NOT NULL,
	[Estatus] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tarea] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD CHECK  (([Estatus]='Completada' OR [Estatus]='Pendiente'))
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD CHECK  (([Prioridad]='Baja' OR [Prioridad]='Media' OR [Prioridad]='Alta'))
GO
USE [master]
GO
